@import url('https://fonts.googleapis.com/css?family=Pacifico');
body {
    text-align: center;
}
h1 {
  font-size: 4rem;
}

.timer, .score {
  font-size: 1.3rem;
  margin: 0 1rem;
  font-family: 'Pacifico', cursive;
}

.panel {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 40%;
    margin: 2rem auto 0 auto;
}
